#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokedex {
  background-image: url("./assets/pokedex-open.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 600px;
  margin: 20px auto;
  position: relative;
  padding: 50px;
}

.pokemon-id {
  /* width: 500px; */
  /* height: 600px; */
  top: 370px;
  right: 35%;
  margin: 20px auto;
  position: relative;
  padding: 50px;
}

.pokemon-display {
  position: absolute;
  top: 280px;
  left: 60px;
  width: 190px;
  /* height: 120px; */
  /* background-color: blue; */
  text-align: center;
}

.pokemon-info-panel {
  position: absolute;
  top: 270px;
  right: 7%; /* Position on the right side */
  /* left: ; */
  width: 170px;
  height: 150px;
  padding: 15px;
  overflow-y: auto; /* Allow scrolling if content is too long */
  /* background-color: blue; */
}

.pokemon-info {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
}

.pokemon-header {
  font-family: "Press Start 2P", cursive;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.pokemon-evolution-header {
  position: absolute;
  top: 460px;
  right: 7%;
  width: 170px;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.pokemon-evolution-info-one {
  text-align: center;
  color: #fff;
  font-size: 8px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 487px;
  left: 60%;
  width: 80px;
  padding: 10px;
  /* background-color: blue; */
}
.pokemon-evolution-info-two {
  text-align: center;
  color: #fff;
  font-size: 8px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 487px;
  /* right: %; */
  left: 77%;
  width: 80px;
  padding: 10px;
  /* background-color: pink; */
}
