#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokedex-closed {
  width: 340px;
  height: 600px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.pokedex-closed img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokedex {
  background-image: url("./assets/pokedex-open.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 600px;
  margin: 20px auto;
  position: relative;
  padding: 50px;
}

.pokemon-display {
  position: absolute;
  top: 255px;
  left: 60px;
  width: 190px;
  text-align: center;
}

.pokemon-img {
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}

.pokemon-id {
  top: 370px;
  right: 35%;
  margin: 20px auto;
  position: relative;
  padding: 50px;
}

.pokemon-info-panel {
  position: absolute;
  top: 270px;
  right: 7%;
  /* left: ; */
  width: 170px;
  height: 150px;
  padding: 15px;
  overflow-y: auto;
  /* background-color: blue; */
}

.pokemon-info {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
}

.pokemon-header {
  font-family: "Press Start 2P", cursive;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.pokemon-evolution-header {
  position: absolute;
  top: 460px;
  right: 7%;
  width: 170px;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.pokemon-evolution-info-one {
  text-align: center;
  color: #fff;
  font-size: 8px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 487px;
  left: 60%;
  width: 80px;
  padding: 10px;
  /* background-color: blue; */
}
.pokemon-evolution-info-two {
  text-align: center;
  color: #fff;
  font-size: 8px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 487px;
  /* right: %; */
  left: 77%;
  width: 80px;
  padding: 10px;
  /* background-color: pink; */
}

.round-buttons {
  position: absolute;
  top: 490px;
  left: 30%;
  display: flex;
  gap: 5px;
  /* background-color: green; */
}

.round-button {
  width: 25px;
  height: 40px;
  border-radius: 20%;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button.left::before {
  content: "←";
}

.round-button.right::before {
  content: "→";
}
